    html {
        cursor: url('cursor-beeive.png'), auto;
        height: 100%;
    }
    
    body {
        position: relative;
        font-family: Helvetica, Arial, sans-serif;
        /* background-image: url('background.jpg'); */
        background: linear-gradient(90deg, rgba(205, 226, 238, 1) 21%, rgba(187, 210, 223, 1) 82%);
        margin: 0;
        /*line-height: 1.5;*/
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .wrap {
        flex: 1 0 auto;
    }
    
    a {
        text-decoration: underline;
        cursor: url('cursor-beeive-nav.png'), auto;
        text-underline-position: under;
        color: rgb(119, 128, 136);
        font-family: ivypresto, sans-serif;
        font-size: 22px;
    }
    
    #logo {
        display: block;
        height: 60px;
        width: 60px;
        float: left;
        opacity: 0.8;
    }
    
    nav {
        display: block;
        width: calc(100% - 40px);
        padding: 0px 10px 30px 10px;
    }
    
    nav .nav-link {
        float: right;
        margin-top: 5px;
        margin-right: 5px;
        font-size: 22px;
        font-weight: bold;
        line-height: 40px;
    }
    
    nav .button {
        line-height: 1.5em;
        border: none;
        border-radius: 40px;
        padding: 5px;
        outline: none;
        text-align: center;
        width: 10%;
    }
    
    section {
        margin-top: 90px;
        margin-left: 10px;
    }
    
    section h1 {
        color: rgb(66, 66, 66);
        font-family: ivypresto, serif;
        font-size: 62px;
    }
    
    section h2 {
        padding-top: 36px;
        color: rgb(66, 66, 66);
        font-family: ivypresto, serif;
        font-size: 36px;
    }
    
    section p {
        text-align: left;
        font-size: 26px;
        color: rgb(32, 32, 32);
        max-width: 1080px;
        font-family: ivypresto, serif;
        margin-bottom: 36px;
    }
    
    section a {
        text-decoration: none;
    }
    
    section a:hover {
        border-bottom: 2px solid rgb(32, 32, 32);
    }
    
    section a:link {
        font-weight: bold;
        color: rgb(32, 32, 32);
    }
    
    footer {
        display: block;
        width: 100%;
        flex-grow: 0;
        padding: 0;
        margin-bottom: 0;
    }
    
    .footer .copyright {
        color: #888;
        position: relative;
        text-align: center;
        font-size: 18px;
        margin-top: 0;
        padding-bottom: 10px;
        margin-bottom: 0;
    }
    /*@media screen and (max-width: 1163px) {
        nav .nav-link {
            width: 20%;
        }
        .wrap {
            min-height: calc(100vh - 110px);
        }
    }*/