    html {
        cursor: url('cursor-beeive.svg'), auto;
        overflow: hidden;
    }
    
    body {
        position: relative;
        font-family: Helvetica, Arial, sans-serif;
        /* background-image: url('background.jpg'); */
        background: linear-gradient(90deg, rgba(205, 226, 238, 1) 21%, rgba(187, 210, 223, 1) 82%);
    }
    
    a {
        text-decoration: underline;
        cursor: url('cursor-beeive-nav.svg'), auto;
        text-underline-position: under;
        color: rgb(119, 128, 136);
        font-family: ivypresto, serif;
    }
    
    #logo {
        display: block;
        height: 80px;
        width: 80px;
        float: left;
        opacity: 0.8;
    }
    
    nav {
        display: block;
        width: calc(100% - 40px);
        padding: 0px 10px 50px 10px;
    }
    
    nav .nav-link {
        float: right;
        margin-top: 5px;
        margin-right: 5px;
        font-size: 22px;
        font-weight: bold;
        line-height: 40px;
    }
    
    nav .button {
        line-height: 1.5em;
        border: none;
        border-radius: 40px;
        padding: 5px;
        outline: none;
        text-align: center;
        width: 10%;
    }
    
    section {
        margin-top: 90px;
        margin-left: 10px;
    }
    
    section h1 {
        color: rgb(66, 66, 66);
        font-family: ivypresto, serif;
        font-size: 62px;
    }
    
    section h2 {
        padding-top: 36px;
        color: rgb(66, 66, 66);
        font-family: ivypresto, serif;
        font-size: 36px;
    }
    
    section p {
        text-align: left;
        font-size: 26px;
        color: rgb(32, 32, 32);
        max-width: 1080px;
        font-family: ivypresto, serif;
    }
    
    section a {
        text-decoration: none;
    }
    
    section a:hover {
        border-bottom: 2px solid rgb(32, 32, 32);
    }
    
    section a:link {
        font-weight: bold;
        color: rgb(32, 32, 32);
    }
    
    footer {
        display: block;
        width: 100%;
        padding: 60px 0 0 0;
        margin-bottom: 0;
    }
    
    footer .copyright {
        color: #888;
        position: relative;
        padding-bottom: 0;
        text-align: center;
        font-size: 18px;
    }
    
    @media screen and (max-width: 1163px) {
        nav .nav-link {
            width: 20%;
        }
    }