    html {
        cursor: url('cursor-beeive.png'), auto;
        height: 100%;
        width: 100%;
    }
    
    body {
        position: relative;
        font-family: Helvetica, Arial, sans-serif;
        /* background-image: url('background.jpg'); */
        background: linear-gradient(90deg, rgba(205, 226, 238, 1) 21%, rgba(187, 210, 223, 1) 82%);
        margin: 0;
        /*line-height: 1.5;*/
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .wrap {
        flex: 1 0 auto;
    }
    
    a {
        text-decoration: underline;
        cursor: url('cursor-beeive-nav.png'), auto;
        text-underline-position: under;
        color: rgb(119, 128, 136);
        font-family: ivypresto, sans-serif;
        font-size: 22px;
    }
    
    #logo {
        display: block;
        height: 60px;
        width: 60px;
        float: left;
        opacity: 0.8;
        position: absolute;
    }
    
    nav {
        display: block;
        width: calc(100% - 30px);
        padding: 0px 0px 30px 10px;
    }
    
    nav .nav-link {
        float: right;
        margin-top: 5px;
        font-size: 22px;
        font-weight: bold;
        line-height: 40px;
    }
    
    nav .button {
        line-height: 1.5em;
        padding: 5px 15px 5px 5px;
        outline: none;
        text-align: center;
    }
    
    section {
        margin-top: 90px;
        margin-left: 10px;
    }
    
    section h1 {
        color: rgb(66, 66, 66);
        font-family: ivypresto, serif;
        font-size: 62px;
    }
    
    section h2 {
        padding-top: 36px;
        color: rgb(66, 66, 66);
        font-family: ivypresto, serif;
        font-size: 36px;
        padding-top: 10px;
    }
    
    section p {
        text-align: left;
        font-size: 26px;
        color: rgb(32, 32, 32);
        max-width: 1080px;
        font-family: ivypresto, serif;
        margin-bottom: 36px;
    }
    
    section a {
        text-decoration: none;
    }
    
    section a:hover {
        border-bottom: 2px solid rgb(32, 32, 32);
    }
    
    section a:link {
        font-weight: bold;
        color: rgb(32, 32, 32);
    }
    
    section h3 {
        color: rgb(109, 109, 109);
        font-style: italic;
        text-transform: uppercase;
    }
    
    span {
        color: rgb(80, 189, 80);
        font-style: normal;
    }
    
    footer {
        display: block;
        width: 100%;
        flex-grow: 0;
        padding: 0;
        margin-bottom: 0;
    }
    
    .footer .copyright {
        color: #888;
        position: relative;
        text-align: center;
        font-size: 18px;
        margin-top: 0;
        padding-bottom: 10px;
        margin-bottom: 0;
    }
    
    @media screen and (max-width: 555px) {
        nav {
            width: calc(100% - 20px);
        }
        nav .button {
            font-size: 17px;
        }
        section h1 {
            font-size: 36px;
        }
        section {
            margin-left: 4px;
            margin-right: 6px;
            margin-top: 50px;
        }
        section p {
            font-size: 22px;
            text-align: justify;
            margin-bottom: 30px;
        }
        section a:link {
            font-size: 20px;
        }
        .footer .copyright {
            font-size: 15px;
        }
        section h2 {
            font-size: 34px;
        }
        section h3 {
            padding-top: 20px;
            font-size: 16px;
        }
    }
    
    @media screen and (max-width: 372px) {
        nav {
            width: calc(100% - 20px);
        }
        nav .button {
            padding-right: 6px;
        }
        section {
            margin-top: 50px;
        }
        section h1 {
            margin-top: 0;
            font-size: 32px;
        }
        section h2 {
            font-size: 32px;
        }
        section p {
            font-size: 20px;
        }
        section a:link {
            font-size: 18px;
        }
    }