* {
    box-sizing: border-box;
}

html {
    cursor: url('cursor-beeive.svg'), auto;
    overflow: hidden;
}

body {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    background: linear-gradient(90deg, rgba(205, 226, 238, 1) 21%, rgba(187, 210, 223, 1) 82%);
    color: black;
    /*margin: 20px;
    padding: 20px;*/
}

.feature {
    text-align: left;
    max-width: 767px;
    margin-top: 70px;
}

.feature h1 {
    font-family: ivypresto, serif;
    font-weight: bold;
    font-size: 40px;
    color: rgb(66, 66, 66);
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 0 10px 0;
}

.feature h2 {
    font-size: 30px;
    line-height: 40px;
    padding: 0 0 20px 0;
}

.feature a {
    color: #000;
    padding: 0 0 10px 0;
    border-bottom: 2px solid #000;
    max-width: 767px;
}

.feature a:hover {
    padding: 0 0 10px 0;
    border-bottom: 2px solid #000;
}

a {
    color: grey;
    text-decoration: none;
    cursor: url('cursor-beeive-nav.svg'), auto;
}

#logo_img {
    display: block;
    height: 80px;
    width: 80px;
    float: left;
    opacity: 0.8;
}

nav {
    display: block;
    width: calc(100% - 40px);
    padding: 0px 10px 50px 10px;
}

footer {
    display: block;
    width: 100%;
    padding: 59px 0 0 0;
    margin-bottom: 0;
}

footer .copyright {
    color: #888;
    position: relative;
    padding-bottom: 0;
    text-align: center;
    font-size: 18px;
}


/*#footer {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#footer .info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #333;
}

#footer .info .content {
    padding: 50px 0 60px 0;
}

#footer .info .detail {
    position: relative;
}

#footer .info .copyright {
    color: #888;
    position: relative;
    padding-bottom: 0px;
    text-align: center;
    font-size: 18px;
}*/

.main {
    position: relative;
    top: 50px;
    justify-content: space-between;
    background: rgb(189, 218, 247);
    border-radius: 75px;
    margin-top: 5px;
    padding-bottom: 15px
}

.flex1 {
    display: inline-block;
    float: left;
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.flex2 {
    display: inline-block;
    float: center;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
}

.flex3 {
    display: inline-block;
    float: right;
    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.main h3 {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 0 0 0 0;
}

.main p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #000;
}

.main a {
    color: #000;
}

.main a:hover {
    border-bottom: 2px solid #000;
    padding: 0 0 6px 0;
}

.social_media {
    display: inline-block;
    margin-top: 3px;
}

@media screen and (min-width: 730px) {
    main content {
        display: block;
        width: 60%;
    }
}