* {
    box-sizing: border-box;
}

html {
    cursor: url('cursor-beeive.svg'), auto;
}

body {
    background: #fff;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f6f6f6;
    font-size: 100%;
    color: #333;
    margin: 0;
    padding: 0;
}

a {
    color: grey;
    text-decoration: none;
    cursor: url('cursor-beeive-nav.svg'), auto;
}

#logo {
    display: block;
    height: 100px;
    width: 100px;
    float: left;
    opacity: 0.8;
}

nav {
    display: block;
    width: calc(100% - 40px);
    padding: 0px 10px 50px 10px;
}

nav .nav-link {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 20px;
    line-height: 40px;
}

nav .button {
    line-height: 1.5em;
    background: rgb(224, 224, 224);
    border: none;
    border-radius: 40px;
    padding: 5px;
    outline: none;
    text-align: center;
    width: 10%;
}

footer {
    width: 100%;
    min-height: 30px;
    margin: 20px;
    padding-top: 80px;
}

footer .copyright {
    top: -8px;
    margin: 5px;
    font-size: .90em;
    font-weight: none;
    font-family: 'Pier Sans';
    color: rgb(121, 121, 121);
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline-block;
}

a.social {
    display: inline-block;
    text-indent: -9999px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    opacity: .5;
    transition: all .25s;
}

a.instagram {
    background-image: url(instagram.png);
}

a.linkedin {
    background-image: url(linkedin.png);
}

a.github {
    background-image: url(github.png);
}

a.social:hover {
    opacity: 1;
}

.clearfix {
    clear: both;
}